.nav-item {
  display: flex;
  align-items: center;
  // should be in reset file
  color: inherit;
  text-decoration: none;
}

.active-link {
  color: #FF5C00;

  svg path {
    fill: #FF5C00;
    stroke: #FFFFFF;
  }
  svg circle {
    fill: #FF5C00;
    stroke: #FFFFFF;
  }
}