.with-icon {
  & :global .MuiInputBase-input {
    padding: 12px 16px 12px 0;
  }
}

.outlined {
  & :global .MuiOutlinedInput-notchedOutline {
    border: 0;
  }

  & :global .MuiInputBase-input {
    text-align: center;
  }
}
