.input {
  font-size: 16px;
  line-height: 150%;
  & :global .MuiInputBase-root {
    border-radius: 16px;
    text-align: center;
  }

  & :global .MuiInputBase-input {
    padding: 12px 16px;
  }

  & :global .MuiFormLabel-root {
    left: 4px;
    top: -3px;
  }

  & :global .MuiInputLabel-shrink {
    transform: translate(10px, -7px);
    font-size: 12px;
    color: #c2c2c2;
  }
  & :global .Mui-focused.MuiFormLabel-root {
    color: #ff5c00;
  }

  & :global .Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #ff5c00;
  }
}
.with-icon {
  & :global .MuiInputBase-input {
    padding: 12px 16px 12px 0;
  }
}

.outlined {
  & :global .MuiOutlinedInput-notchedOutline {
    border: 0;
  }

  & :global .MuiInputBase-input {
    text-align: center;
  }
}
