.link {
  width: 100%;
  height: 100%;
  padding: 14px 18px;
}

.activeLink {
  color: #ff5c00;
  background: rgba(255, 92, 0, 0.2);

  &:after {
    content: '';
    width: 4px;
    height: 100%;
    background: #ff5c00;
    position: absolute;
    right: -1px;
    top: 0;
  }
}
