.wrapper {
  border-radius: 58px;
  box-shadow: none;
  min-width: 0;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    box-shadow: none;
  }
}

.size-default {
  padding: 12px;
}

.size-small {
  padding: 8px;
}
