.take-away{
  background: #E5EDFE;
  color: #3071FF;
}

.dine-in, .close{
  background: #FFF5EE;
  color: #FF5C00;
}

.delivery{
  background: rgba(240, 180, 51, 0.16);
  color: #F0B433;
}

.open{
  background: #EEFFEE;
  color: #35C335;
}