.take-away,
.waiter {
  background: #e5edfe;
  color: #3071ff;
}

.dine-in,
.closed,
.admin {
  background: #fff5ee;
  color: #ff5c00;
}

.delivery,
.courier {
  background: rgba(240, 180, 51, 0.16);
  color: #f0b433;
}

.opened,
.active {
  background: #eeffee;
  color: #35c335;
}

.inactive {
  background: #f1f1f1;
  color: #969696;
}
