.tableNumber {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF5EE;
  border-radius: 120px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FF5C00;
}