.chair-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6px;
}

.chair-item {
  background-color: #fff;
  border-radius: 30px;
  min-height: 14px;
  min-width: 50px;
  border: 1px solid #e4e4e4;
}

.empty {
  background-color: #f8f9fd;
  width: 5px;
}
