.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 6px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  color: #828487;
    &:hover {
      background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
      color: #fff;
    }
}

.text{
  @media (max-width: 1280px) {
    display: none;
  }
}

.activeLink{
  background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
  color: #fff;
}