.card{
  background: #FFFFFF;
  border-radius: 16px;
  width: 219px;
  height: 250px;
  padding: 12px 8px 16px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  
  @media (max-width: 1280px) {
    width: 190px;
    height: 234px;
  }

  @media (max-width: 768px) {
    width: 180px;
  }

  &:hover{
height: 260px;
    .priceTitle{
      display: block;
    }

    .button{
      display: block;
    }

    .wrapper{
      justify-content: space-between;
    }
  }
}

.content{
  padding: 12px 8px 16px;
}

.image{
  border-radius: 12px;
  height: 158px;
  cursor: pointer;
}

.icon{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 19px;
  cursor: pointer;
}

.title{
  font-weight: 600;
  text-align: center;
}

.priceTitle{
  display: none;
  color: #9C9C9C;
  font-size: 12px;
  line-height: 130%;
}

.button{
  display: none;
  height: 36px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleModal{
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #19191C;
}