.wrapper{
  width: 100%;
  max-width: 360px;
  padding: 30px;
}

.title{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #19191C;
}

.time{
  font-size: 12px;
  line-height: 150%;
  color: #9C9C9C;
}

.description{
  font-size: 14px;
  line-height: 140%;
  color: #19191C;
}