.card {
  width: 100%;
  max-width: 220px;
  min-width: 190px;
  border-radius: 16px;
  padding: 12px;
  position: relative;
}

.icon {
  position: absolute;
  right: 8px;
}

.title-modal {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #19191c;
}
