.wrapper{
  width: 100%;
  max-width: 955px;
  height: 68px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;

  @media (max-width: 1280px) {
    max-width: 858px;
  }

  @media (max-width: 991px) {
    max-width: 911px;
  }

  @media (max-width: 768px) {
    max-width: 689px;
    height: 56px;
  }
}

.search{
  border-right: 1px solid #E4E4E4;
  padding: 22px 24px;
  flex-grow: 1;

  @media (max-width: 768px) {
    padding: 16px 24px;
  }
}

.filter{
  padding: 16px 24px;

  @media (max-width: 768px) {
    padding: 10px 16px;
  }
}