.carrouselWrapper {
  width: 85vw;
  min-height: 165px;
  justify-content: center;
  user-select: none;
}

.carrouselContainer {
  display: flex;
  align-items: center;
  user-select: none;
}

.carrouselItem {
  cursor: pointer;
  opacity: 0.64;
}

.active {
  opacity: 1;
}

.img {
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.activeImg {
  width: 124px;
  height: 124px;
}
