.carrouselWrapper {
  overflow: hidden;
  background-color: brown;
  width: 845px;
}

.carrouselItem {
  cursor: pointer;
  opacity: 0.64;
}

.active {
  opacity: 1;
}

.img {
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.activeImg {
  width: 124px;
  height: 124px;
}
