.wrapper {
  background: url(../../assets/login_background.png) center center / cover no-repeat;
  height: 100vh;
}

.buttonBlur {
  background: rgba(67, 67, 67, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8px);
  padding: 12px 158px;
}
